ul#share-menu {
	width: 300px; 
	margin: 0.4em 0 1em 0;
	padding: 0;
	position:relative;
	left:auto;
	list-style: none;
}

ul#share-menu li { display: inline; }
	
ul#share-menu li a {
	display: block; 
	float: left; 
	height: 44px;
	background-image: url(../images/share-menu-sprite.png); text-indent: -9999px;
}

	ul#share-menu li a.facebook {
		width: 74px; background-position: 0 0;	
	}
	
	ul#share-menu li a.pinterest {
		width: 74px; background-position: -74px 0;	
	}
	
	ul#share-menu li a.twitter {
		width: 74px; background-position: -148px 0;	
	}
	
	ul#share-menu li a.google {
		width: 44px; background-position: -222px 0;	
	}
	
	
	ul#share-menu li a.facebook:hover, ul#share-menu li a.facebook:focus {
		background-position: 0 -45px;	
	}
	
	ul#share-menu li a.pinterest:hover, ul#share-menu li a.pinterest:focus {
		background-position: -74px -45px;	
	}
	
	ul#share-menu li a.twitter:hover, ul#share-menu li a.twitter:focus {
		background-position: -148px -45px;	
	}
	
	ul#share-menu li a.google:hover, ul#share-menu li a.google:focus {
		background-position: -222px -45px;	
	}
	

a { outline: none; }

#share-menu li:after {content: "."; display: block; height: 1em; clear: both; visibility: hidden;}
