body{
	background-color:#FFF;
	font-size: 20px;
	color: #000;
	font-family: 'NewsGothicBT-RomanCondensed',sans-serif; 
	min-height: 480px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

img {
	max-width: 100%;
}

h1 {
	font-weight:normal;
	font-size: 3em;
	margin:0 0 0.5em 0;
	padding:0;
}

/*----------- NAV --------------*/
/*-----------SITE NAVIGATION ---------------*/
#nav-holder {
	position:absolute;
	display:block;
	width:100%;
	/*top: 0;
	left: 0;*/
}

/* #masthead {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 1em;
	background-color:#FFF;  
	opacity:0.6; 
    filter:alpha(opacity=60); /* IE transparency */

/* } */

#masthead img {
}

#nav {
	/*font-family: 'NewsGothicBT-RomanCondensed',sans-serif;*/
	padding: 0% 2% 1% 1.6%;
	position: relative;
	bottom: 0; 
	left: 0;
	width: 30%;

	/*background-color:#FFF;
	opacity:0.8; 
    filter:alpha(opacity=80); /* IE transparency */
	/*z-index:100;*/
}

/* #nav li, #nav ul {
	margin: 3px;
	padding: 0px;
}

#nav li {
	list-style: none;
	text-transform: uppercase;
	font-size: 0.8em;
	line-height:200%;
	margin: 0px;
	padding: 0px;
}

#nav li a {
}

#nav li a:link, #nav a:visited {
	text-decoration:none;
	color:#494949;
}

#nav li a:hover, #nav li a:active {
	text-decoration:underline;
	color:#666;
} */


/*----------- PAGE CLASSES--------------*/
div.pg-pages {
	position:relative;
	clear:both;
}

div.pg-page {
	width:100%;
	position:absolute;
	display:block;
	clear:both;
	top:0px;
	left:0px;
}

div.pg-wrapper {  
    /* float:left; 		/* important */  
    position:relative; 	/* important(so we can absolutely position the description div */
	text-align:left;
	width: 100%;
	padding: 1em;
}

div.pg-wrapper img {  
    width: 100%; max-width: 1700px;
}

div.pg-box {  
    position:absolute; 	/* absolute position (so we can position it where we want)*/  
	font-family: 'strangelove_textregular';
	letter-spacing: 0.06em;
	/* font-family: 'NewsGothicBT-RomanCondensed',sans-serif; */
}

div.pg-header {
	width: 100%;
	float:right;
	margin: 20px 0px 0px 0px;
}

p.pg-box-content {
	line-height: 108%;
	padding: 1.8em;
	color: #000;
	text-align: left;
	/* vertical-align: top; */
}

.txt-small {
	font-size: 1.5em;
	line-height: 110%;
}

.txt-medium {
	font-size: 2em;
	line-height: 110%;
}

.txt-large {
	font-size: 3em;
	line-height: 90%;
}


/*-----------    16    --------------*/
/* FULL WIDTH - 1:12 RIGHT SIDE BOX */
#page-sixteen {
	display:block;
	z-index: 20;
}

#page-sixteen-box {
	top:	7.518796992481%;
    left:	41.114982578397%;  
    width:	53.310104529617%;
	
	background-color:#FFF;  
	opacity:0.8; 
    filter:alpha(opacity=80); /* IE transparency */
	
	padding: 1.5em;
	text-align: left;
	
}

#page-sixteen-box-content {
	font-family: 'NewsGothicBT-RomanCondensed',sans-serif;
	font-size: 0.75em;
	line-height: 160%;
	letter-spacing: 0.1em;
	color: #000;
	
	/*-moz-column-count: 2;
	-moz-column-gap: 1.5em;
	-moz-column-rule: none;
	-moz-column-width: 50%;
	-webkit-column-count: 2;
	-webkit-column-gap: 1.5em;
	-webkit-column-rule: none;
	-webkit-column-width: 50%;
	column-count: 2;
	column-gap: 1.5em;
	column-rule: none;
	column-width: 50%;*/
}


/*-------------------------*/
div.pg-credits-box p {
	position:relative;
	width: 100%;
	/* background-color:#CCC; */
	padding: 0 0 0 0;
	margin: 0 0 1.5em 0;
	vertical-align: top;
	
	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	-ms-column-break-inside:avoid;
	column-break-inside:avoid; 
}

div.pg-credits-box a, div.pg-wardrobe-label a {
	color:#000; background-color:#e6e6e6;
}

div.pg-credits-box a:link, div.pg-credits-box a:visited, div.pg-wardrobe-label a:link, div.pg-wardrobe-label a:visited {
	text-decoration:none;
}

div.pg-credits-box a:hover, div.pg-credits-box a:active, div.pg-wardrobe-label a:hover, div.pg-wardrobe-label a:active {
	text-decoration:underline;
}

div.pg-credits-box img {
	/* float:left; */
	position: absolute;
	left: 0;
	top: 0;
	width:16.875%;
	margin: 0 1em 1em 0;	
}

/*-------------- MEDIA QUERIES -------------------- */
/*----------- MOBILE -------------*/
@media (max-width:640px) {
	body { 
		font-size: 10px;
   }
}

@media (min-width:641px) and (max-width:999px) {
	body { 
		font-size: 16px;
   }
}


/*----------- THE REST -------------*/
@media (min-width:1000px) {
	body {
		font-size: 20px;
	}
}




/* Smartphones (portrait and landscape) ----------- */
 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}
	

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
